*{
    margin:0;
    padding: 0;
            box-sizing: border-box;
}
body{
    font-family: sanas-serif;
    line-height: 1.4;
}
/* -----product------ */
 .product {
    border: 4px solid #000;
    width: 825px;
margin:50px auto;
    position: relative;


}

.product-title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    background-color: #f7f7f7;
    padding: 15px ;
    margin: 0;

}


/* ------product info---- */
.product-image {
    width: 50%;

}
.price {
  font-size: 24px;
  float: left;

  
}
.shipping {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color:#777;
    margin-bottom: 20px ;
    float: right;
    margin-top: 8px;

}
.sale{
    background-color: #ec2f2f;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 7px 15px;    
     font-weight: bold;
    display: inline-block;

    position: absolute;
    top: -17px;
    left: -38px;
}

.more-info:link,
.more-info:visited {
    color:#000;
    display: inline-block;
    margin-bottom: 30px;
  
}


.more-info:hover,
.more-info:active{
    text-decoration: none;
 
}

/* ------------pick color--------- */

.box {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 12px;
    

}


.black {
    background-color: black;
}

.blue {
    background-color: blue;
}
 .red {
    background-color: red;
} 
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.brown {
    background-color: brown;
}


/* ---product details----- */

.details-title{
    text-transform: uppercase;
    font-size:15px;
    margin-bottom: 15px;
margin-top: 30px;
}
.product-details {
    list-style: square;
    margin-left: 20px;
    margin-bottom: 10px;

    
}
.add-cart{
    background-color: #000;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    border-top: 4px solid #000
    padding:15 px;
}

.add-cart:hover {
background-color: #fff;
    color: #000;
}


.product-image{
width: 250px;
    float: left;
    margin-right: 40px;
}

.information{
width: 243px;
    float: left;
    margin-right: 40px;
    margin-top: 20px
}

.details{
    width: 243px;
        float: left;
        margin-top: 20px;

}
.add-cart {
    float: both;

}

.description {
   clear: both;
   margin-bottom: 10px;
}
